[defaults]
host_key_checking=False
inventory=inventory.yml
gathering=explicit
retry_files_enabled=False
collections_paths = ../.ansible/collections:../ansible-avd:../ansible-cvp:/root/.ansible/collections:/home/df/.ansible/collections:/home/avd/.ansible/collections:/home/avd4/.ansible/collections
# collections_paths = /opt/scripts/ansible/tieto-poc/ansible-avd:/opt/scripts/ansible/tieto-poc/ansible-cvp
jinja2_extensions=jinja2.ext.loopcontrols,jinja2.ext.do
duplicate_dict_key=error
callback_whitelist=ansible.posix.profile_tasks
deprecation_warnings=False
forks=64